{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    <div class="d-md-flex gap-3 align-items-center">
      {% set responsiveimagestyle = {
        '#theme': 'responsive_image',
        '#responsive_image_style_id': '216x216',
        '#uri': 'public://filefield_paths/RuslanP-200x200_0.jpg',
        '#alt': 'Ruslan Pi',
        '#attributes': { class: '' },
      } %}
      {{ responsiveimagestyle }}
      {{ content }}
    </div>
    <div class="read-more"><a href="/about-me">{{ "Read more"|t }} ></a></div>
  </div>
</article>
