{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}
{{ attach_library('bootstrap5/node') }}

<article{{ attributes.addClass(classes) }}>
  <div class="header d-flex align-center gap-3 mb-3">
    <div class="date">
      <span class="day">{{ node.created.value|date('j') }}</span>
      <span class="year">{{ node.created.value|date('M.Y') }}</span>
    </div>
    {{ title_prefix }}
    {% if label and not page %}
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}
  </div>
  <div{{ content_attributes.addClass('node__content') }}>
    <div class="d-md-flex gap-3">
      {{ content }}
    </div>
  </div>
</article>
